body{
  background-image: url("image.jpeg");
  background-size: cover;
  font-family: sans-serif;
}

h3{
  text-align: center;
}

.dashboard{
  display: "flex"; 
  flex-direction: "column";
  text-align: center;
}

/* FORMULARZE */
.form{
  background-color: white;
  border-radius: 5px;
  width: 30%;
  margin: 20px auto;
  padding: 20px;
}

.form-body > *{
  padding: 5px;
}

.form__label{
  width: 40%;
}

.form_input{
  width: 60%;
}
.formTitle{
  text-align: center;
  font-weight: 700;
  font-size: 2rem;
}

/* STOPKA */
.footer{
  text-align: center;
  padding-bottom: 20px;
}

/* PRZYCISKI */
.btn{
  border: 1px solid black;
  font-family: 'Nunito', sans-serif;
  background-color:  rgb(2, 122, 197);
  color: white;
}

.btnLogin{
  background-color:  rgb(2, 122, 197);
  border: 1px solid black;
  font-family: 'Nunito', sans-serif;
}

.btnLogin:hover{
  border: 1px solid black;
  background-color: lightgreen;
  transition: .4s;
}

.btn:hover{
  border: 1px solid black;
  transition: .4s;
  background-color: rgb(3, 44, 94);
  box-shadow: rgb(3, 44, 94) 0px 0px 0px 1px;
  color:white;
}

.signOutBtn{
  font-size: .8em;
  font-family: 'Oswald', sans-serif;
  position: relative;
  left: 20rem;
  bottom: -4px;
  overflow: hidden;
  letter-spacing: 3px;
  transition: opacity .45s;
  border-radius: 10px;
}
.signOutBtn:hover{
  background-color: forestgreen;
  transition: .3s;
}
.description{
  background-color: white;
  border-radius: 10px;
  border: 1px solid black;
  padding:10px;
  width:50%;
  margin: 1.2rem;
  text-align: center;    
}

.upperButton{
  margin:10px;
}

/* LINKI */
.link{
  text-align: center; 
}
.linkBtn{
  text-align: center; 
  border: 1px solid black;
  border-radius: 10px;
  padding: 6px;
}
.linkBtn:hover{
  cursor: pointer;
  background-color: rgb(200, 173, 103);
  transition: .4s;
}

/* MESSAGE */
.error-message{
  font-size: 0.7rem;
  font-weight: 500;
  color: red;
  margin-top: 0.2rem;
}

.error-message-configuration{
  font-size: 1.2rem;
  font-weight: bold;
  color: crimson;
  margin-top: 0.2rem;
  text-align: center;
}

.succesfull-message{
  font-size: 1rem;
  font-weight: bold;
  color: forestgreen;
  margin-top: 0.2rem;
  text-align: center;
  text-transform: uppercase;
}

ul{
  list-style: none;
  padding: 5px;
}

.itemData{
  font-weight: bold;
}
.container{
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.checked-item,
.not-checked-item {
  margin-left: 10px;
}

.list-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 20px;
}
.searchbarTitle{
  margin: 10px;
  font-size: 40px;
  color: rgb(1, 1, 59);
}
.search {
  width: 100%;
  text-align: center;
}

.sectionOne{
  background-color: rgb(228, 176, 176);
}
.sectionTwo{
  background-color: khaki;
}
.sectionThree{
  background-color:rgb(173, 237, 173);
}


input[type="checkbox"] {
  margin: 0;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 0.15em;
  transform: translateY(0.1em);
}
.otherCheckboxes{
  background-color: rgb(158, 205, 207);
  border-radius: 10px;
  border:2px solid black;
  text-align: center;
}

.otherCheckboxes label{
  display: block;
  padding: 10px;
}

.otherCheckboxes label input{
  margin-right: 3px;
}
#timeCheckbox{
  margin-left: 10px;
}


.backDashboard{
  display: inline-block;
  margin-left: 2em;
  font-size: 15px;
  background-color: rgb(163, 89, 232);
}
.HeaderTitle{
    margin-left:5em;
}
.goToConfiguration{
  background-color: rgb(4, 52, 94);
  color: white;
  display: inline-block;
  position: relative;
  left: 18rem;
  font-size: .8em;
  bottom: -4px;
  letter-spacing: 1px;
  border-radius: 10px;
}
.goToConfiguration:hover{
  background-color: rgb(16, 110, 192);
}
.HeaderTitleDashboard{
  margin-left: 11em;
}

/* TABLE */
table {
  border-spacing: 0;
  table-layout: auto;  
  border-collapse: collapse;
  border: 1px solid black;
  text-align: center; 
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
  width: 105%;
}
th, td {
  border: 1px solid black;
  padding: 1em;
}
caption {
  font-weight: bold;
  font-size: 24px;
  text-align: left;
  color: rgb(223, 72, 17);
  margin-bottom: 16px;
  caption-side: top; 
  text-align: center;
}

.table_div{
  margin:0;
  padding: 0;
}

.description_product  {
  white-space: normal;
  word-wrap: break-word;
  text-align: center;
  max-height: 40px;
  min-height: 40px;
  width: 20.28%;
  overflow: auto;
}

thead {
  background-color: #333;
  color: white;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 2%;
}
tbody tr:nth-child(odd) {
  background-color: #fff;
}

tbody tr:nth-child(even) {
  background-color: #eee;
}
tbody th {
  background-color: #36c;
  color: #fff;
  text-align: left;
}
tbody tr:nth-child(even) th {
  background-color: #25c;
}

.table-link {
  background-color: red;
  box-shadow: 0 5px 0 darkred;
  color: white;
  padding: 0.6em 1em;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
}

.table-link:hover {
  background-color: #ce0606;
  cursor: pointer;
  color: white;
  text-decoration: none;
}
a:not([href]):not([tabindex]):hover{
  color: white;
  text-decoration: none;
  background-color: #ce0606
}

.table-link:active {
  box-shadow: none;
  top: 5px;
}
.input-dashboard{
  display:inline-block;
  width:40%;
  padding: 10px;
}

.set_active{
  display:table;
  margin: 0 ;
  margin-bottom: 50px;
}
.no_active{
  display:none;
}

.loadButton{
  background-color: rgb(4, 52, 94);
  color: white;
  margin: 10px 0;
}
.loadButton:hover{
  background-color: rgb(16, 110, 192);
}
.resetBtn{
  margin-left: 20px;
}
#minuteCheckbox{
  width: 20%;
  margin: 0 0.5rem;
}

.divInformationSendBackend{
  text-align: center;
  width: 80%;
}
.divInformationSendBackend {
  text-align: center;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  background-color: rgb(72, 134, 196);
  margin:10px;
}
.divInformationSendBackend span{
  color: rgb(46, 222, 93);
}  
.divInformationSendBackend h1{
  color: rgb(228, 97, 32);
}  

.yourSettings{
  color: #ce0606;
}
.first-error{
  text-align: center;
  font-weight: bold;
  font-size: 1em;
}
.text-field-class{
  background-color: beige;
}